<div class="users">
    <div class="accounts" *ngFor="let a of allaccounts | search:searchKey:'name'">
        <div class="tag-profile d-flex justify-content-between" (click)="select_account(a.name)">
            <div class="profile-1 d-flex">
                <img [src]="a.image" alt="">
                <div class="profile-info">
                    <p id="name">{{a.user_name}}</p>
                    <p>{{a.name}}</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" id="i"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
        </div>
    </div>
</div>