<div class="tag-page">
    <div *ngIf="search == false" class="top-bar d-flex justify-content-between">
        <div class="d-flex top-first">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x"
                viewBox="0 0 16 16" (click)="cancel()">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
            <h5>Tag people</h5>
        </div>
        <div class="top-second">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16" style="color: rgb(65, 166, 255);" (click)="done()">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
            </svg>
        </div>
        
    </div>
    <div class="selected-image">
        <img [src]="selectedImage" alt="">
    </div>
</div>