.nav{
    background-color: black;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
}

.nav-icon{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
